In [2]:
import pandas as pd

data = {
  'co2': [95, 90, 99, 104, 105, 94, 99, 104],
  'model': ['Citigo', 'Fabia', 'Fiesta', 'Rapid', 'Focus', 'Mondeo', 'Octavia', 'B-Max'],
  'car': ['Skoda', 'Skoda', 'Ford', 'Skoda', 'Ford', 'Ford', 'Skoda', 'Ford']
}

df = pd.DataFrame(data)
print(df)
print(df.groupby("car").count())

   co2    model    car
0   95   Citigo  Skoda
1   90    Fabia  Skoda
2   99   Fiesta   Ford
3  104    Rapid  Skoda
4  105    Focus   Ford
5   94   Mondeo   Ford
6   99  Octavia  Skoda
7  104    B-Max   Ford
       co2  model
car
Ford     4      4
Skoda    4      4